
.campo{
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(142, 214, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    flex-direction: column
}

.texto{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
   
    
}

.campojogo{

    background-color: aquamarine;
    width: 780px;
    height: 580px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 0px;
    position: relative; /* <--- importante! */
    overflow: hidden;   /* evita que a cobra apareça fora */
    box-sizing: border-box
   

}


.cobra {
  width: 20px;
  height: 20px;
  background-color: lime;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px; /* cantos arredondados */
  
}

.olho {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 4px;
}

.olho-esquerdo {
  left: 4px;
}

.olho-direito {
  right: 4px;
}


.gameBoard {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #eee;
}

.food {
  background-color: red;
}

.score {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

